@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inknut+Antiqua:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Righteous&display=swap');

#title {
    font-family: 'Righteous';
    font-size: 36px; 
    text-align: center;
    margin-bottom: 20px; 
    color: white;
}

.outer-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
 .title, .centered-box{
    flex: 1; /* Grow and take up equal vertical space */
    padding: 10px;
}

.horizontal-links{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}
.horizontal-links > li{
    list-style: none
}


body {
    background-color: #0285cd;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
}

.footer-nav{
    border: solid 1px black;
  
}

.centered{
    display: flex;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    
}