@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inknut+Antiqua:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Dosis:wght@300&family=Inknut+Antiqua:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Righteous&display=swap');

#root {
    height: 100vh;
}

#title {
    font-family: 'Righteous';
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.codemirror-bookmark {
    background-color: red;
    /* color: red; */
    /* opacity: 0; */
    /* visibility: hidden; */
}

.codemirror-bookmark:hover {
    background-color: yellow;
}

.codemirror-insertion-point {
    background-color: blue;

}

.codemirror-insertion-point:hover {
    background-color: yellow;
    /* color: red; */
    /* opacity: 0; */
    /* visibility: hidden; */
}

.codemirror-subinsert {
    background-color: green;
}

.codemirror-subinsert:hover {
    background-color: yellow;
}

.codemirror-inline {
    background-color: pink;
}

.codemirror-inline:hover {
    background-color: yellow;
}

.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;

}

.title,
.centered-box {
    flex: 1;
    padding: 5px;
}

.horizontal-links {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.horizontal-links>li {
    list-style: none;
    font-size: 20px;
}


body {
    background-color: #0285cd;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis';
    color: white;
    overflow: hidden;
}


.centered {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.name-template {
    margin-bottom: 3%;
}

.PageTitles {
    display: flex;
    justify-content: center;
}

#CreateTemplateColumns {
    display: flex;
    margin: 1%
}


#CreateTemplateColumnOne {
    flex: 2;
    border: 5px solid navy;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

}

#CreateTemplateColumnTwo {
    flex: 2;
    border: 5px solid navy;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.component-title {
    text-align: center;
}

#CreateTemplateColumnOne,
#CreateTemplateColumnTwo {
    width: 100%;
    height: 80vh;
    background-color: #8cb3e6;
}

#createTemplateSubmit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#CreateTemplateColumnOne label {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.input-container label {
    margin-bottom: 5px;
}

#subsection1 {
    flex: 0 0 auto;
    /* Fixed height for the topmost subsection */
    padding: 20px;
    /* Add padding as needed */
}

#subsection4 {
    display: flex;
    justify-content: space-between;
}

#subsection2,
#subsection3,
#subsection4 {
    flex: 2;
    /* Distribute remaining space evenly among subsections 2 and 3 */
    padding: 20px;
    /* Add padding as needed */
}

#templateProps {
    height: 100px;
    width: 200px;
    background-color: navy;
    color: white;

}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    font-size: 20px;
}

ul.footer-links li {
    padding-right: 10px;
}

/* Style for the dropdown button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid white;

    border-radius: 5%;
}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: flex;
    justify-content: space-around;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for the dropdown content links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for the dropdown content links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button is clicked */
.show {
    display: block;
}

#componentWindow {
    flex: 1;
    color: navy;
    font-size: x-large;
}

#templatePreviewWindow {
    border-top: 5px solid black;
    flex: 1;
    color: navy;
    font-size: x-large;
}

button {
    font-family: 'Dosis';
}

#componentWindowTextInput {
    background-color: navy;
    color: pink;
    height: 50%;
    resize: none;
}

#templatePreviewWindowInput {
    width: 100%;
    box-sizing: border-box;
    direction: ltr;
    text-align: left;
    vertical-align: top;
}

#bigSaveTemplateButton {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    font-size: x-large;
    margin: 1%;
}

.space {
    height: 100px;
}

#file-input {
    display: none;
}

#file-input-label {
    color: black;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}
