
.editor-title {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem .5rem;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}


.editor-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(225, 6%, 25%);
}

/* .editor-container.collapsed {
  flex-grow: 0;
} */

/* .CodeMirror {
  height: 100%vw !important;
} */

.code-mirror-wrapper {
  flex-grow: 1;
  flex-direction: column;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.display-flex{
  display: flex;
}

.flex-1{
  flex: 1;
}